$bg-film-color: rgba(0,0,0,0.5);
$header-bg-start: rgba(0,0,0,0.7);
$header-bg-end: rgba(97,97,97,0.7);
$nav-dd-bg: rgba(45,45,45,0.9);
$border-color: rgba(255,210,10,0.8);
$content-bg-color: rgba(255,255,255,0.8);
$hover-color: #fff;
$font-color: rgba(0,0,0,1);
$font-family: Helvetica, sans-serif;
$link-color: rgba(255,0,0,1);
$bg-image: url('../img/bg.jpg');
$header-carousal-bg: url("../img/coalbanner3.jpg");