#container{
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */

    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */

    box-sizing: border-box;
    /* Opera/IE 8+ */

    height: 900px;//100%;
    max-width: 900px;
    margin: auto;
    padding-top: 125px;//86px;
    padding-bottom: 20px;
    nav {
        height: 26px;
        text-align: center;
        
        ul{
            padding: 0;
            border-width: 1px;
            border-style: solid;
            //border-color: #d5d5d5 #d2d2d2 #cdcdcd;
            border-radius: 6px;
            display: -moz-inline-box;
            -moz-box-orient: vertical;
            display: inline-block;
            vertical-align: baseline;
            zoom: 1;
            *display: inline;
            *vertical-align: auto;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
            -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
            -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
            -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
            
            li{
                float: left;
                border-left: 1px solid #d2d2d2;
                
                &:first-child{
                    border-left: 0;
                    a{
                        border-radius: 6px 0 0 6px;
                    }
                }
                &:last-child{
                    border-radius: 0 6px 6px 0;
                }
                #zoomin {
                    background-image: url(../images/icons/zoom_in.png);
                }
                #zoom {
                    background-image: url(../images/icons/zoom.png);
                }
                #zoomout {
                    background-image: url(../images/icons/zoom_out.png);
                }
                #first {
                    background-image: url(../images/icons/arrow_double_left.png);
                }
                #last {
                    background-image: url(../images/icons/arrow_double_right.png);
                }
                #next {
                    background-image: url(../images/icons/arrow_right.png);
                }
                #back {
                    background-image: url(../images/icons/arrow_left.png);
                }
                #slideshow {
                    background-image: url(../images/icons/slideshow_play.png);
                    .wowbook-disabled {
                        background-image: url(../images/icons/slideshow_pause.png);
                    }
                }
                #flipsound {
                    background-image: url(../images/icons/sound_on.png);
                    .wowbook-disabled {
                        background-image: url(../images/icons/sound_off.png);
                    }
                }
                #fullscreen {
                    background-image: url(../images/icons/fullscreen_on.png);
                    .wowbook-disabled {
                        background-image: url(../images/icons/fullscreen_off.png);
                    }
                }
            }
        }
        a{
            z-index: 100;
            position: relative;
            display: block;
            padding: 0 14px;
            font-size: 11px;
            font-weight: bold;
            color: #666;
            color: rgb(221, 221, 221);
            height: 26px;
            line-height: 26px;
            text-shadow: 0 1px #fff;
            background: #fafafa;
            background-color: #fcfcfc;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f0f0f0));
            background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
            background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
            background-image: -ms-linear-gradient(top, #fcfcfc, #f0f0f0);
            background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
            background-image: linear-gradient(top, #fcfcfc, #f0f0f0);

            background-color: #2C2C2C;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f0f0f0));
            background-image: -webkit-linear-gradient(top, #333333, #222222);
            background-image: -moz-linear-gradient(top, #333333, #222222);
            background-image: -ms-linear-gradient(top, #333333, #222222);
            background-image: -o-linear-gradient(top, #333333, #222222);
            background-image: linear-gradient(top, #333333, #222222);
            
            
            display: block;
            height: 46px;
            width: 48px;
            padding: 0;
            background: #000000 no-repeat;
            background-position: 8px 7px;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;

            /*-webkit-box-shadow: inset 1px 1px #fafafa, inset -1px -1px #fafafa;
            -moz-box-shadow: inset 1px 1px #fafafa, inset -1px -1px #fafafa;
            -ms-box-shadow: inset 1px 1px #fafafa, inset -1px -1px #fafafa;
            -o-box-shadow: inset 1px 1px #fafafa, inset -1px -1px #fafafa;
            //box-shadow: inset 1px 1px #fafafa, inset -1px -1px #fafafa; }*/
            
            &:hover{
                color: #333;
                color: rgb(221, 221, 221); /* FIXME */
                z-index: 10;
                text-decoration: none;
                /*
                /-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 1px 1px #fafafa, inset -1px -1px #fafafa;
                /-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 1px 1px #fafafa, inset -1px -1px #fafafa;
                /-ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 1px 1px #fafafa, inset -1px -1px #fafafa;
                /-o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 1px 1px #fafafa, inset -1px -1px #fafafa;
                /box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 1px 1px #fafafa, inset -1px -1px #fafafa; 
                */
                background-color: #2C2C2C;
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f0f0f0));
                background-image: -webkit-linear-gradient(top, #555555, #222222);
                background-image: -moz-linear-gradient(top, #555555, #222222);
                background-image: -ms-linear-gradient(top, #555555, #222222);
                background-image: -o-linear-gradient(top, #555555, #222222);
                background-image: linear-gradient(top, #555555, #222222);
                
            }
            outline: none;
        }
        
    }
}
.wowbook {
    color: #333;
}
.wowbook-page-content {
    background: white;
}
.wowbook-left{
    .wowbook-gutter-shadow {
        background-image: url('../images/page_left_background.png');
        opacity: 0.5;
        width: 60px;
    }
}
.wowbook-right{
    .wowbook-gutter-shadow {
        background-image: url('../images/page_right_background.png');
        background-position: 0 0;
        width: 75px;
    }
}
#main {
    position: relative;
    top: 30px;
    
}
.js #current{//features {
    mmargin-left: -12000px;
}
.wowbook-page {
    mmargin: auto;
}
#cover {
    //background: #ffffff url("../issue/1.jpg") no-repeat;
    //background-size: 100% 100%;
}
.feature {
    //padding: 1em 1em;
    font-family: 'BebasNeueRegular', sans-serif;
    height: 500px;
    width: 400px;
    background: white;
}

.blank{
    height: 150px;
}

@media screen and (max-width: 568px), screen and (max-height: 380px) {
    #container {
        padding-top: 60px;//35px;
        padding-bottom: 5px;
        nav{
            margin: auto;
            top: 0px;
            li{
                height: 32px;
                a{
                    background-size: 50% 50%;
                    height: 32px;
                    width: 32px;
                }
            }
        }
    }
    .blank{
    	height: 0;
	}
}